.weatherPageWrap {
  background: url("./Assests/Weather\ Background.webp");
  background-size: cover;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: white;
  font-weight: 500;
}

.weatherSection {
  border-radius: 25px;
  color: white;
  border: 2px solid white;
  padding: 150px;
}

.cityMenu {
  width: 100%;
  border: none;
  padding: 10px;
  color: #000;
  margin-top: -100px;
}

.searchIcon {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
}

.weatherDataCard {
  margin-top: 20px;
  box-shadow: 4px 6px 6px 7px rgba(0, 0, 0, 10%);
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  border-radius: 25px;
  height: 220px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityName {
  font-size: 20px;
}

.currentWeatherIcon {
  height: 50px;
  width: 50px;
}
.temp {
  font-size: 25px;
  margin-right: 65px;
}
.right-align {
  margin-right: 30px;
}

.data-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.data-item {
  display: flex;
  align-items: center;
  text-align: right;
}

.weekDataCard {
  margin-top: 20px;
  box-shadow: 4px 6px 6px 7px rgba(0, 0, 0, 10%);
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  border-radius: 25px;
  height: 220px;
  width: 500px;
}

.cardList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dayItem {
  flex: 1;
  margin: 0 5px;
}
.dayName {
  padding-left: 10px;
  text-align: center;
}
.weekWeatherIcon {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}
